$title-height: 5rem;
$theme-color-dark: #333;
$theme-color-gray: #cdcdcd;
$switch-mode-height: 4rem;
$tools-height: 6rem;
$inner-width: 600px;

@media screen and (max-width: 768) {
  $title-height: 10rem;
}
