$title-height: 5rem;
$theme-color-dark: #333;
$theme-color-gray: #cdcdcd;
$switch-mode-height: 4rem;
$tools-height: 6rem;
$inner-width: 600px;

@media screen and (max-width: 768) {
  $title-height: 10rem;
}

.panel {
  position: fixed;
  min-height: 10rem;
  width: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 3rem;
  padding-top: 4rem;
  background-color: $theme-color-gray;
  border: 0.5rem solid $theme-color-dark;
  box-sizing: border-box;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .background {
    .panel {
      width: 100%;
    }
  }
}
